workflows/Clone a repository IF.json
{
  "id": 9,
  "name": "Clone a repository IF",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "clone",
        "repositoryPath": "={{$node[\"Set\"].parameter[\"values\"][\"string\"][0][\"value\"]}}",
        "sourceRepository": "https://github.com/pulumi/automation-api-examples.git"
      },
      "name": "Git",
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        1140,
        320
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "directory",
              "value": "/home/ubuntu/clone"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Execute Command\"].json[\"stdout\"]}}",
              "value2": "Y"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "command": "=if [ -d \"{{$node[\"Set\"].parameter[\"values\"][\"string\"][0][\"value\"]}}\" ];\nthen echo \"Y\"\nelse\necho \"N\"\nfi"
      },
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        720,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [],
        [
          {
            "node": "Git",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-04-01T15:56:13.975Z",
  "updatedAt": "2022-04-01T16:05:04.221Z",
  "settings": {},
  "staticData": null
}