workflows/Merge interesting RSS to one list then email it.json
{
  "id": 12,
  "name": "Merge interesting RSS to one list then email it",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -620,
        280
      ]
    },
    {
      "parameters": {
        "url": "https://www.france24.com/en/europe/rss"
      },
      "name": "RSS Feed Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -400,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"RSS Feed Read\"].json[\"content\"]}}",
              "operation": "regex",
              "value2": "/Ukraine/"
            },
            {
              "value1": "={{$node[\"RSS Feed Read\"].json[\"content\"]}}",
              "operation": "regex",
              "value2": "/Russ/"
            }
          ]
        },
        "combineOperation": "any"
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -180,
        280
      ]
    },
    {
      "parameters": {
        "url": "http://rss.cnn.com/rss/cnn_topstories.rss"
      },
      "name": "RSS Feed Read1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -400,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"RSS Feed Read1\"].json[\"title\"]}}",
              "operation": "regex",
              "value2": "/Ukrain/"
            }
          ]
        },
        "combineOperation": "any"
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -180,
        440
      ]
    },
    {
      "parameters": {},
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        80,
        280
      ]
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "link"
            }
          ]
        },
        "options": {}
      },
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        540,
        100
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://www.spiegel.de/international/index.rss"
      },
      "name": "RSS Feed Read2",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -400,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"RSS Feed Read2\"].json[\"content:encoded\"]}}",
              "operation": "regex",
              "value2": "/Putin/"
            }
          ]
        },
        "combineOperation": "any"
      },
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -180,
        600
      ]
    },
    {
      "parameters": {},
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        260,
        440
      ]
    },
    {
      "parameters": {
        "fromEmail": "sm_peterson@yahoo.com",
        "toEmail": "sm_peterson@yahoo.com",
        "subject": "Daily RSS Feed",
        "text": "={{Object.values($node[\"Airtable\"].json[\"fields\"]).join('\\n')}}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        640,
        440
      ],
      "credentials": {
        "smtp": {
          "id": "10",
          "name": "SMTP account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "application": "appc1Ym6Y2dfLlTds",
        "table": "tblFWscclCYHpNczU",
        "addAllFields": false,
        "fields": [
          "link"
        ],
        "options": {}
      },
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        460,
        440
      ],
      "credentials": {
        "airtableApi": {
          "id": "2",
          "name": "Airtable account"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "RSS Feed Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Feed Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Feed Read2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Read": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Read1": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Read2": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        []
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-04-05T00:18:14.895Z",
  "updatedAt": "2022-04-05T21:50:29.935Z",
  "settings": {},
  "staticData": null
}