workflows/Message When Content of a Website Changes (Telegram).json
{
  "id": 10,
  "name": "Message When Content of a Website Changes (Telegram)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "url": "https://news.ycombinator.com/",
        "responseFormat": "string",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        620,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        800,
        300
      ],
      "webhookId": "e5f84b2f-2568-4f5b-a72b-ed54838c768b",
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://news.ycombinator.com/",
        "responseFormat": "string",
        "options": {}
      },
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1000,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"HTTP Request\"].json[\"data\"]}} {{$node[\"HTTP Request\"].json[\"data\"]}}",
              "value2": "="
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [
        1220,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        440,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "1234",
        "text": "Something got changed",
        "additionalFields": {}
      },
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1440,
        380
      ],
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "4",
          "name": "n8n test bot"
        }
      }
    },
    {
      "parameters": {},
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1440,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "disabled": true
    }
  ],
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-04-01T16:23:32.176Z",
  "updatedAt": "2022-04-01T16:23:32.176Z",
  "settings": {},
  "staticData": null
}